@media (min-width: 1025px) {
  .menu-list__item:hover::before {
    left: 0;
    width: 100%;
    opacity: 1;
  }
  .welcome-block__form .form-submit:hover {
    background: #90d23ddb;
  }
  table tr:nth-child(even):hover {
    background-color: #373737f2;
  }
  table tr:nth-child(odd):hover {
    background-color: #4b4d4ffa;
  }
  .button:hover {
    background-color: #90d23dd6;
  }
}
