/* NORMALIZE
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  line-height: 1;
  height: 100%;
  position: relative;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  border: none;
}

td, form {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

ul {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  background-color: #fff;
  color: #242424;
  min-width: 320px;
}

/*MAIN STYLES*/
/*===========================================*/
img {
  display: block;
  width: 100%;
}

span {
  display: inline-block;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff;
  -webkit-text-fill-color: #545454;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #90d23d;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#preloader {
  height: 100%;
  width: 100%;
  background: #888;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  overflow: hidden;
}

.wrapper {
  display: block;
  margin: auto;
  height: 100%;
}

.wrapper.wrapper--small {
  width: 76%;
}

.wrapper.wrapper--large {
  width: 86%;
}

.js-timer {
  text-align: center;
  font-size: 100px;
  border-radius: 20px;
  width: 60%;
  margin: 100px auto 100px;
  border: 2px solid #90d23d;
  padding: 30px 80px;
  color: #fff;
}

.js-timer .timer {
  display: inline-block;
}

.js-timer .timer #daysTicker, .js-timer .timer #hoursTicker, .js-timer .timer #minsTicker {
  position: relative;
  margin-right: 10px;
}

.js-timer .timer #daysTicker:after, .js-timer .timer #hoursTicker:after, .js-timer .timer #minsTicker:after {
  content: ':';
  position: absolute;
  margin-left: 5px;
}

.js-timer .timer .counter-text {
  font-weight: 400;
  font-size: 25px;
}

/*===========================================*/
/*  -moz-transform: skewY(-2deg);
-webkit-transform: skewY(-2deg);
transform: skewY(-2deg);*/
/*HEADER*/
/*===========================================*/
.header {
  background-color: #888;
  position: relative;
  padding-top: 50px;
}

.header:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background: inherit;
  z-index: -1;
  bottom: 0;
  transform-origin: right bottom;
  transform: skewY(-3deg);
}

.header__nav {
  height: 70px;
  line-height: 70px;
}

.header__nav .logo {
  float: left;
}

.header__nav .menu-list {
  float: right;
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

.header__nav .menu-list__item + .menu-list__item {
  margin-left: 30px;
}

.header__nav .menu-list__item {
  display: inline-block;
  position: relative;
  line-height: 1;
  padding: 3px 0;
}

.header__nav .menu-list__item:before {
  content: '';
  position: absolute;
  left: -10%;
  display: block;
  bottom: -20px;
  height: 3px;
  width: 120%;
  background-color: #90d23d;
  opacity: 0;
  transition: opacity .5s , width .5s , left .5s;
}

.icons {
  transform: skewY(-3deg);
  pointer-events: none;
}

.icons__list {
  margin-bottom: -3%;
  overflow: hidden;
}

.icons__item {
  display: inline-block;
  position: relative;
}

.icons__item:nth-child(1) {
  transform: translateY(40%);
  z-index: 6;
}

.icons__item:nth-child(2) {
  transform: translate(-30px, 35%);
  z-index: 5;
}

.icons__item:nth-child(3) {
  transform: translate(-50px, 30%);
  z-index: 4;
}

.icons__item:nth-child(4) {
  transform: translate(-70px, 25%);
  z-index: 3;
}

.icons__item:nth-child(5) {
  transform: translate(-90px, 20%);
  z-index: 2;
}

/*MAIN*/
/*===========================================*/
.main {
  margin-top: 150px;
}

.welcome-block {
  font-size: 0;
  position: relative;
}

.welcome-block__desription {
  font-size: 14px;
  width: 50%;
  display: inline-block;
  padding: 0 20px 0 0;
}

.welcome-block__desription h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

.welcome-block__desription p + p {
  margin-top: 20px;
}

.welcome-block__form {
  display: inline-block;
  width: 45%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  font-size: 19px;
  padding: 30px 25px 25px 25px;
  border: 1px solid #bebebe;
  text-align: center;
}

.welcome-block__form .form-submit {
  font-size: 22px;
  color: #fff;
  background: #90d23d;
  border: none;
  margin: 35px 0 0 0;
  transition: background .15s;
}

.welcome-block__form span {
  font-size: 30px;
  font-weight: 900;
}

.welcome-block__form p {
  margin-top: 20px;
  color: #6c6c6c;
  font-size: 15px;
}

.welcome-block__form input {
  padding: 0 20px;
  width: 100%;
  height: 55px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  transition: border .3s;
}

.welcome-block__form label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #bebebe;
  transition: top .3s , left .3s, font-size .3s , color .3s;
}

.welcome-block__form label.disabled {
  left: 5px;
  top: -30%;
  font-size: 15px;
}

.welcome-block__form .input-holder {
  position: relative;
  margin: 35px 0 0 0;
}

.welcome-block__form .input-holder.active label {
  left: 5px;
  top: -30%;
  font-size: 15px;
  color: #90d23d;
}

.welcome-block__form .input-holder.active input {
  border: 1px solid #90d23d;
}
