@media (min-width: 1025px){
  .menu-list{
    &__item{
      &:hover{
        &::before{
            left:0;
            width: 100%;
            opacity:1;
        }
      }
    }
  }
  .welcome-block__form{
    .form-submit{
      &:hover{
        background: #90d23ddb;
      }
    } 
  }
}