@media (min-width: 1025px){
  .menu-list{
    &__item{
      &:hover{
        &::before{
            left:0;
            width: 100%;
            opacity:1;
        }
      }
    }
  }
  .welcome-block__form{
    .form-submit{
      &:hover{
        background: #90d23ddb;
      }
    } 
  }
  table{
    tr{
      &:nth-child(even){
        &:hover{
          background-color:#373737f2;
        }
      }
      &:nth-child(odd){
        &:hover{
          background-color:#4b4d4ffa;
        }
      }
    }
  }
  .button{
    &:hover{
      background-color:#90d23dd6;
    }
  }
  .speakers-section{
    .container-speaker{
      &:hover{
        .container-speaker__hover{
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
  .footer{
    .js-anchor{
      &:hover{
        color:#333;
      }
    }
  }
}
// @media (max-width: 1279px){
    
// }